HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea
*.iws
*.iml
*.ipr

/mvnw.cmd
/src/test/java/ru/netology/conditional/ConditionalApplicationTests.java
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/mvnw
